:root {
  --main-text-color: rgb(224, 228, 228);
  --main-bg-color: #212424;
  --line-color: #c0c0bb;
  --font-family: "IBM Plex Mono", monospace;
  --pink: rgb(254, 106, 106);
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
}

nav {
  display: flex;
  padding: 20px;
}

a {
  color: var(--main-text-color);
  margin-right: 20px;
  cursor: pointer;
}

a:hover {
  color: var(--pink);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

rect {
  fill: var(--pink);
}

text {
  font-family: var(--font-family);
  color: var(--main-text-color);
}

.tick text {
  font-size: 1rem;
}

.tick line {
  color: var(--line-color);
}

.axis-label {
  font-size: 1.2rem;
  fill: var(--main-text-color);
}

.title {
  font-size: 1.25rem;
  fill: var(--main-text-color);
}
